<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Historico</title>
</head>
<body>
		<div th:if="${cliente.quarto.servicos != null}">
			<th:block th:each="servico : ${cliente.quarto.servicos}">
		
			<div style="border: solid 1px;">
			
				Produto: 	<span th:text="${servico.nome}"></span>
				valor:	<span th:text="${servico.valor}"></span>
				Tipo de servico:	<span th:text="${servico.tipo}"></span>
				Quem pediu: <span th:text="${servico.login}"></span>
			</div>
			</th:block>
		</div>
</body>
</html>