<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Quartos</title>
</head>
<body>
	<div th:fragment="menu">
		<a th:href="'./quartos'">Alugar um quarto</a>
		<a th:href="'../servico/produtos'">Pedir algo</a>
		<a th:href="'../cliente/historico'">Historicos de pedidos</a>
		<a th:href="'../cliente/home'">Voltar</a>
		<a th:href="'../principal/'">Sair</a>
	</div>
	<h2>Quartos 5 estrelas</h2>
	<th:block th:each="quarto5 : ${quartos5}">

			<div style="border: solid 1px;">
			
				Numero: 	<span th:text="${quarto5.numeroQuarto}"></span>
				valor diaria:	<span th:text="${quarto5.valor}"></span>
				Camas de solteiro:	<span th:text="${quarto5.camaSolteiro}"></span>
				Camas de casal:	<span th:text="${quarto5.camaCasal}"></span>
			
				<a th:href="'./alugar/'+${quarto5.numeroQuarto}">Alugar</a>
			</div>

	</th:block>
	<h2>Quartos 4 estrelas</h2>
	<th:block th:each="quarto4 : ${quartos4}">

			<div style="border: solid 1px;">
			
				Numero: 	<span th:text="${quarto4.numeroQuarto}"></span>
				valor diaria:	<span th:text="${quarto4.valor}"></span>
				Camas de solteiro:	<span th:text="${quarto4.camaSolteiro}"></span>
				Camas de casal:	<span th:text="${quarto4.camaCasal}"></span>
			
				<a th:href="'./alugar/'+${quarto4.numeroQuarto}">Alugar</a>
			</div>

	</th:block>
	<h2>Quartos 3 estrelas</h2>
	<th:block th:each="quarto3 : ${quartos3}">

			<div style="border: solid 1px;">
			
				Numero: 	<span th:text="${quarto3.numeroQuarto}"></span>
				valor diaria:	<span th:text="${quarto3.valor}"></span>
				Camas de solteiro:	<span th:text="${quarto3.camaSolteiro}"></span>
				Camas de casal:	<span th:text="${quarto3.camaCasal}"></span>
			
				<a th:href="'./alugar/'+${quarto3.numeroQuarto}">Alugar</a>
			</div>

	</th:block>
	
</body>
</html>