<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Quartos</title>
</head>
<body>
	<div th:fragment="menu">
		<a th:href="'../funcionario/home'">Voltar</a>
		<a th:href="'../principal/'">Sair</a>
	</div>
	<h2>Quartos 5 estrelas</h2>
	<th:block th:each="quarto5 : ${quartos5}">
		<div th:if="${quarto5.ocupado != true}">
			<div style="border: solid 1px;">
			
				Numero: 	<span th:text="${quarto5.numeroQuarto}"></span>
				valor diaria:	<span th:text="${quarto5.valor}"></span>
				Camas de solteiro:	<span th:text="${quarto5.camaSolteiro}"></span>
				Camas de casal:	<span th:text="${quarto5.camaCasal}"></span>
				<a th:href="'./alugarf/'+${quarto5.numeroQuarto}">Alugar</a>
			</div>
		</div>
	</th:block>
	<h2>Quartos 4 estrelas</h2>
	<th:block th:each="quarto4 : ${quartos4}">
		<div th:if="${quarto4.ocupado != true}">
			<div style="border: solid 1px;">
			
				Numero: 	<span th:text="${quarto4.numeroQuarto}"></span>
				valor diaria:	<span th:text="${quarto4.valor}"></span>
				Camas de solteiro:	<span th:text="${quarto4.camaSolteiro}"></span>
				Camas de casal:	<span th:text="${quarto4.camaCasal}"></span>
			
				<a th:href="'./alugarf/'+${quarto4.numeroQuarto}">Alugar</a>
			</div>
		</div>
	</th:block>
	<h2>Quartos 3 estrelas</h2>
	<th:block th:each="quarto3 : ${quartos3}">
		<div th:if="${quarto3.ocupado != true}">
			<div style="border: solid 1px;">
			
				Numero: 	<span th:text="${quarto3.numeroQuarto}"></span>
				valor diaria:	<span th:text="${quarto3.valor}"></span>
				Camas de solteiro:	<span th:text="${quarto3.camaSolteiro}"></span>
				Camas de casal:	<span th:text="${quarto3.camaCasal}"></span>
			
				<a th:href="'./alugarf/'+${quarto3.numeroQuarto}">Alugar</a>
			</div>
		</div>
	</th:block>
	
</body>
</html>