<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Quartos</title>
</head>
<body>
	<div th:fragment="menu">
		<a th:href="'./quartos'">Alugar um quarto</a>
		<a th:href="'../servico/produtos'">Pedir algo</a>
		<a th:href="'../cliente/historico'">Historicos de pedidos</a>
		<a th:href="'../cliente/home'">Voltar</a>
		<a th:href="'../principal/'">Sair</a>
	</div>
	<th:block th:each="quarto : ${quartos}">
		
		<div style="border: solid 1px;">
			
			Numero: 	<span th:text="${quarto.numeroQuarto}"></span>
			valor diaria:	<span th:text="${quarto.valor}"></span>
			Camas de solteiro:	<span th:text="${quarto.camaSolteiro}"></span>
			Camas de casal:	<span th:text="${quarto.camaCasal}"></span>
			
			<a th:href="'./alugar/'+${quarto.numeroQuarto}">Alugar</a>
		</div>
	</th:block>
	
	
</body>
</html>